{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}

<main class="container">
	<section class="row">

		<div class="col-12">
			<h1 class="text-center text-success fw-bold text-decoration-underline ">BarAdvisorRRRRR</h1>
			<p class="text-center text-danger text-decoration-underline fs-3 fst-italic">On va boire un coup ?</p>
		</div>
	</section>
	{# <div class="col-12">
		{{ dump() }}
	</div> #}
</main>



{% endblock %}