{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}

	{# <style>
								    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
								    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
								</style>
								
								<div class="example-wrapper">
								    <h1>Hello {{ controller_name }}! ✅</h1>
								
								    This friendly message is coming from:
								    <ul>
								        <li>Your controller at <code><a href="{{ 'C:/Symfony/Projet_1/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
								        <li>Your template at <code><a href="{{ 'C:/Symfony/Projet_1/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
								    </ul>
								</div> #}

	<h1 class="text-center text-success fw-bold text-decoration-underline ">BarAdvisor</h1>
	<p class="text-center text-danger text-decoration-underline fs-3 fst-italic">On va boire un coup ?</p>

{% endblock %}
