<footer class="container-fluid bg_light">
            <div class="row">
                <section class="col">Colonne 1</section>
                <section class="col">Colonne 2</section>
            </div>

</footer>